h2 { 
    font-size: 30px;
    padding-top: 8px;
}

body {
    margin: 16px;
}

.mug-header {
    margin-bottom: 16px;
}

.faq h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

.faq div {
    padding-bottom: 18px;
}

.faq p,ul {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.faq li {
    padding-bottom: 18px;
}

.privacy {
   font-family: 'Poppins', sans-serif;
   text-align: justify;
}
